.header {
  margin: 0rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.header ul {
  display: flex;
  align-items: center;
  margin: 0rem;
  list-style: none;
  padding: 0rem;
}

.header ul li:not(:last-child) {
  margin-right: 2rem;
}

@media screen and (max-width: 767px) {
  .header ul {
    justify-content: space-between;
  }
}

