html,body {
  background: linear-gradient(45deg,#002a8f,#1a3f9a);
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header-brand {
  font-size: 3rem;
  font-weight: 600;
  color: white;
}
.btn { 
  color: #fff;
  padding: 1rem;
  border: none;
  letter-spacing: normal;
  word-spacing: normal;
  border-radius: 1.5rem;
  transition: background-color 0.3s cubic-bezier(0.23, 1, 0.320, 1)
}
.btn:active, .btn:focus {
  outline: none;
}
.btn-primary {
  background-color: #cf142b;
  
}
.btn-secondary {
  background-color: #7c0c1a;
}
.btn-chuchazo {
  background-color: #667fbc
}
.btn-capicu {
  background-color: #001956

}
.form-control {
  padding: 1rem 0.5rem;
  border: 0.15rem solid #f4f6f5;
  border-radius: 0.25rem;
}

@media screen and (max-width: 767px) {
  .header-brand {
    font-size: 2.5rem;
    font-weight: 600;
  }
}